@import './Character.css';

* {
  box-sizing: border-box;
}
#root {
  margin: 0 auto;
  padding: 2rem;
  text-align: left;
  scrollbar-width: thin;
}
p, h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
}
ul, li {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
.clear {
  clear: both;
}

section#filter {
  box-sizing: border-box;
  position: fixed;
  top: 0;
  left: 0;
  overflow-y: hidden;
  scrollbar-width: thin;
  width: 20vw;
  height: 100%;
  padding: 20px;

  div.filter-option {
    margin-right: 30px;

    div.search-bar {
      height: 44px;
      width: 300px;
      color: rgba(255, 255, 255, 0.87);
      background-color: #222222;
      border: 1px solid #141414;
      position: relative;

      input.search-input {
        all: unset;
        padding: 0 10px;
        height: 44px;
        width: 300px;
      }
    }
  }
  .filter-option .artifact-type {
    margin-top: 10px;
  }
  .filter-option .artifact-type:first-of-type {
    margin-top: 0;
  }

  div.dropdown-wrapper {
    position: relative;
    width: 300px;

    div.dropdown {
      cursor: pointer;
      border: 1px solid #141414;
      height: 44px;
      width: 100%;
      background-color: #222222;
      position: relative;
      padding: 10px;
      overflow: hidden;
    }
    div.dropdown:hover {
      background-color: lighten(#242424, 5%);
    }
    div.dropdown.active {
      width: 256px;

      p {
        color: lightgreen;
        font-weight: 700;
        width: 500px; // ensure all on one line, overflow is hidden
      }
    }
    button.clear-input {
      position: absolute;
      top: 0;
      right: 0;
      height: 44px;
      width: 44px;
      text-align: center;
      cursor: pointer;
      border: none;
      border: 1px solid #141414;
      border-left: none;
    }
  }
  ul.dropdown-menu {
    list-style-type: none;
    margin: 0;
    padding: 0;
    position: absolute;
    z-index: 10;
    width: 300px;
    color: rgba(255, 255, 255, 0.87);
    background-color: #222222;
    border: 1px solid #141414;
    overflow-y: scroll;
    scrollbar-width: thin;

    li {
      padding: 10px;
      height: 44px;
      cursor: pointer;
      display: flex;
      align-items: center;

      img {
        height: 100%;
        margin-right: 10px;
      }
    }
    li:hover {
      background-color: lighten(#242424, 5%);
    }
  }
}

section#results {
  position: fixed;
  top: 0;
  left: 20vw;
  padding: 20px;
  overflow-y: scroll;
  width: 80vw;
  height: 100vh;
  scrollbar-width: thin;

  .highlighted {
    color: lightgreen;
    font-weight: 700 !important;
  }
  .rarity-4 {
    border-bottom: 3px solid purple;
  }
  .rarity-5 {
    border-bottom: 3px solid orange;
  }
  .row {
    display: flex;
    flex-wrap: wrap;
    padding: 0 4px;
  }
  .column {
    max-width: 33%;
    padding: 0 4px;
    box-sizing: border-box;
  }
  @media screen and (max-width: 1560px) {
    .column {
      flex: 50%;
      max-width: 50%;
    }
  }
  @media screen and (max-width: 1060px) {
    .column {
      flex: 100%;
      max-width: 100%;
    }
  }

  h3.results-header {
    margin-bottom: 30px;
  }
}