@import './Filter.css';
@import './Results.css';
@import './Character.css';
@import './Footer.css';

$filter-width: 250px;


// General Reset Rules and Global Rules 
  * {
    box-sizing: border-box;
  }
  #root, body {
    margin: 0 auto;
    padding: 0;
    text-align: left;
    overflow: hidden;
  }
  p, h1, h2, h3, h4, h5, h6 {
    margin: 0;
    padding: 0;
  }
  ul, li, ol {
    margin: 0;
    padding: 0;
    list-style-type: none;
  }

// Globally used classes (.highlight etc) 
  .highlighted {
    color: lightgreen;
    font-weight: 700;

    img {
      filter: grayscale(0%) !important;
    }
  }
  .highlighted.flatstat,
  .highlighted.partial {
    color: #99C599 !important;
    font-weight: 700;
  }

// Reset/Clear buttons 
  button.reset-filters {
    border: none;
    padding: 10px;
    width: $filter-width;
    border-bottom: 1px solid #192019;
    display: block;
    margin: 10px auto;
  }
  button.reset-filters.error {
    width: 100%;
  }
  button.clear-input {
    color: #999;
    position: absolute;
    top: 0;
    right: 0;
    height: 44px;
    width: 44px;
    border: 1px solid #192019;
    border-top: none;
  }
  button.reset-filters, button.clear-input {
    transition: all 0.3s ease-out;
    background-color: #36272f;
    box-shadow: 1px 3px 5px #202020;
    cursor: pointer;
    text-align: center;
    color: #DDD;
    font-weight: 700;
    font-size: 0.9em;
    font-family: inherit;
  }
  button.reset-filters:hover, button.clear-input:hover {
    background-color: lighten(#36272f, 3%);
  }




div#mobile-header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  background-color: #1f1f1f;
  height: 40px;
  width: 100%;

  button.close-menu {
    margin-left: 3px;
    height: 100%;
    width: 40px;
    background: none;
    border: none;
    font-size: 1.5em;
    font-weight: 700;
    color: #CCC;
  }
}
