#root {
  margin: 0 auto;
  padding: 2rem;
  text-align: left;
  scrollbar-width: thin;
}
p, h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
}
ul, li {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

section#filter {
  box-sizing: border-box;
  position: fixed;
  top: 0;
  left: 0;
  overflow-y: scroll;
  scrollbar-width: thin;
  width: 20vw;
  height: 100%;
  padding: 20px;

  .filter-card {
    margin-right: 30px;

    div.close-menu {
      position: absolute;
      z-index: 15;
      right: 0;
      top: 0;
      height: 40px;
      width: 40px;
      text-align: center;
      padding-top: 8px;
      cursor: pointer;
    }

    div.search-bar {
      height: 44px;
      width: 300px;
      color: rgba(255, 255, 255, 0.87);
      background-color: #222222;
      border: 1px solid #141414;
      position: relative;

      input.search-input {
        all: unset;
        padding: 0 10px;
        height: 44px;
        width: 260px;
      }
    }
  }
  .filter-card .artifact-type {
    margin-top: 10px;
  }
  .filter-card .artifact-type:first-of-type {
    margin-top: 0;
  }

  .dropdown.active p {
    color: lightgreen;
    font-weight: 700;
  }
  .dropdown:hover {
    background-color: lighten(#242424, 5%);
  }
  .dropdown {
    cursor: pointer;
    border: 1px solid #141414;;
    width: 300px;
    background-color: #222222;
    position: relative;

    p {
      padding: 10px;
      display: flex;
      align-items: center;
    }
  }
  .dropdown-menu {
    list-style-type: none;
    margin: 0;
    padding: 0;
    position: absolute;
    z-index: 10;
    width: 300px;
    color: rgba(255, 255, 255, 0.87);
    background-color: #222222;
    border: 1px solid #141414;
    overflow-y: scroll;
    scrollbar-width: thin;
  }
  .dropdown-menu li {
    padding: 10px;
    cursor: pointer;
    display: flex;
    align-items: center;
  }

  .dropdown-menu li:hover {
    background-color: lighten(#242424, 5%);
  }
}


section#results .highlighted {
  color: lightgreen;
  font-weight: 700 !important;
}
section#results {
  box-sizing: border-box;
  position: fixed;
  top: 0;
  left: 20vw;
  padding: 20px;
  overflow-y: scroll;
  width: 80vw;
  height: 100vh;
  scrollbar-width: thin;

  // Character rarity colors 
  .rarity-4 {
    border-bottom: 3px solid purple;
  }
  .rarity-5 {
    border-bottom: 3px solid orange;
  }
  .row {
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
    padding: 0 4px;
  }
  .column {
    flex: 33%;
    max-width: 33%;
    padding: 0 4px;
    box-sizing: border-box;
  }
  @media screen and (max-width: 1560px) {
    .column {
      flex: 50%;
      max-width: 50%;
    }
  }
  @media screen and (max-width: 1060px) {
    .column {
      flex: 100%;
      max-width: 100%;
    }
  }

  h3.results-header {
    margin-bottom: 30px;
  }
  div.character-card {
    position: relative;
    width: 400px;
    background-color: #222222;
    margin-bottom: 30px;
    box-shadow: 1px 3px 5px #191919;
    border-radius: 5px;

    div.build-header {
      border-radius: 5px;
      height: 100px;
      width: 410px;
      position: relative;
      right: 5px;
      background-color: darken(#222222, 1%);

      img.character-portrait {
        height: 103px;
        width: 103px;
        border-radius: 10px;
        margin-left: 10px;
        padding: 0;
      }
      img.character-element {
        height: 50px;
        width: 50px;
        position: absolute;
        top: -15px;
        left: -20px;
      }
      div.character-title {
        position: absolute;
        left: 130px;
        top: 15px;

        h3.build-name {
          margin: 0;
          color: #BBB;
          font-weight: 700;
        }
      }
    }
    div.build-content {
      padding: 20px;

      div.constellation {
        position: absolute;
        bottom: 0;
        right: 0;
        width: 100%;
        //opacity: 1;
        opacity: 0.06;
        pointer-events: none;

        img {
          width: 100%;
          height: 100%;
        }
      }
      div.artifact-set {
        margin-bottom: 10px;

        .artifact-logic-and {
          font-weight: 400;
        }
        .artifact-logic-or {
          font-weight: 400;
          color: rgba(255, 255, 255, 0.87);
        }
      }
      div.artifact-types {
        float: left;
        width: 50%;
        margin-bottom: 10px;

        div.artifact-type {
          margin-bottom: 5px;
        }
      }
      div.substats {
        float: left;
        width: 50%;
      }
      div.er-requirements {
        margin-bottom: 10px;
        clear: both;
      }
      div.note {
        li {
          font-size: 0.9em;
          font-weight: 600;
        }
      }
      p {
        font-size: 0.9em;
        color: #BBB;
      }
      li {
        font-weight: 600;
      }
    }
  }
}