@import './Character.css';
* {
  box-sizing: border-box;
}

#root {
  margin: 0 auto;
  padding: 2rem;
  text-align: left;
  scrollbar-width: thin;
}

p, h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
}

ul, li {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.clear {
  clear: both;
}

section#filter {
  box-sizing: border-box;
  position: fixed;
  top: 0;
  left: 0;
  overflow-y: hidden;
  scrollbar-width: thin;
  width: 20vw;
  height: 100%;
  padding: 20px;
}
section#filter div.filter-option {
  margin-right: 30px;
}
section#filter div.filter-option div.search-bar {
  height: 44px;
  width: 300px;
  color: rgba(255, 255, 255, 0.87);
  background-color: #222222;
  border: 1px solid #141414;
  position: relative;
}
section#filter div.filter-option div.search-bar input.search-input {
  all: unset;
  padding: 0 10px;
  height: 44px;
  width: 300px;
}
section#filter .filter-option .artifact-type {
  margin-top: 10px;
}
section#filter .filter-option .artifact-type:first-of-type {
  margin-top: 0;
}
section#filter div.dropdown-wrapper {
  position: relative;
  width: 300px;
}
section#filter div.dropdown-wrapper div.dropdown {
  cursor: pointer;
  border: 1px solid #141414;
  height: 44px;
  width: 100%;
  background-color: #222222;
  position: relative;
  padding: 10px;
  overflow: hidden;
}
section#filter div.dropdown-wrapper div.dropdown:hover {
  background-color: #313131;
}
section#filter div.dropdown-wrapper div.dropdown.active {
  width: 256px;
}
section#filter div.dropdown-wrapper div.dropdown.active p {
  color: lightgreen;
  font-weight: 700;
  width: 500px;
}
section#filter div.dropdown-wrapper button.clear-input {
  position: absolute;
  top: 0;
  right: 0;
  height: 44px;
  width: 44px;
  text-align: center;
  cursor: pointer;
  border: none;
  border: 1px solid #141414;
  border-left: none;
}
section#filter ul.dropdown-menu {
  list-style-type: none;
  margin: 0;
  padding: 0;
  position: absolute;
  z-index: 10;
  width: 300px;
  color: rgba(255, 255, 255, 0.87);
  background-color: #222222;
  border: 1px solid #141414;
  overflow-y: scroll;
  scrollbar-width: thin;
}
section#filter ul.dropdown-menu li {
  padding: 10px;
  height: 44px;
  cursor: pointer;
  display: flex;
  align-items: center;
}
section#filter ul.dropdown-menu li img {
  height: 100%;
  margin-right: 10px;
}
section#filter ul.dropdown-menu li:hover {
  background-color: #313131;
}

section#results {
  position: fixed;
  top: 0;
  left: 20vw;
  padding: 20px;
  overflow-y: scroll;
  width: 80vw;
  height: 100vh;
  scrollbar-width: thin;
}
section#results .highlighted {
  color: lightgreen;
  font-weight: 700 !important;
}
section#results .rarity-4 {
  border-bottom: 3px solid purple;
}
section#results .rarity-5 {
  border-bottom: 3px solid orange;
}
section#results .row {
  display: flex;
  flex-wrap: wrap;
  padding: 0 4px;
}
section#results .column {
  max-width: 33%;
  padding: 0 4px;
  box-sizing: border-box;
}
@media screen and (max-width: 1560px) {
  section#results .column {
    flex: 50%;
    max-width: 50%;
  }
}
@media screen and (max-width: 1060px) {
  section#results .column {
    flex: 100%;
    max-width: 100%;
  }
}
section#results h3.results-header {
  margin-bottom: 30px;
}

/*# sourceMappingURL=App.css.map */
