.rarity-4 {
  border-bottom: 5px solid purple;
}

.rarity-5 {
  border-bottom: 5px solid orange;
}

div.tooltip-on-hover:hover + div.artifact-info.tooltip,
div.tooltip-on-hover:hover + div.artifact-info.tooltip-alt {
  display: block;
}

div.artifact-info.tooltip, div.artifact-info.tooltip-alt {
  display: none;
  position: absolute;
  z-index: 60;
  padding: 20px;
  width: 350px;
  border-bottom: 1px solid #192019;
  font-size: 0.95em;
  box-shadow: 5px 10px 10px #171717;
  background-color: #2a2a2a;
  color: rgba(255, 255, 255, 0.87);
  border-radius: 5px;
  pointer-events: none;
}
div.artifact-info.tooltip h4, div.artifact-info.tooltip-alt h4 {
  font-size: 1.1em;
  font-weight: 700;
}
div.artifact-info.tooltip p, div.artifact-info.tooltip-alt p {
  font-size: 0.9em;
  margin-bottom: 10px;
}
div.artifact-info.tooltip p:last-of-type, div.artifact-info.tooltip-alt p:last-of-type {
  margin-bottom: 0;
}

div.artifact-info.tooltip {
  left: 0;
}

div.artifact-info.tooltip-alt {
  right: 0;
}

div.build-section div.artifact-set div.build-section-text:hover, div.build-section div.artifact-set-alternative div.build-section-text:hover {
  background-color: #2a2a2a !important;
}
div.build-section div.artifact-set div.build-section-text:hover div.build-section-text, div.build-section div.artifact-set-alternative div.build-section-text:hover div.build-section-text {
  opacity: 1 !important;
}

@media screen and (max-width: 600px) {
  div.character-card.full {
    width: 100vw;
    margin-bottom: 20px;
  }
  div.character-card.full div.build-header {
    width: 100%;
    position: relative;
    height: 66.6666666667px;
  }
  div.character-card.full div.build-header img.character-element {
    height: 30px;
    width: 30px;
    left: 5px;
    top: 14px;
  }
  div.character-card.full div.build-header div.character-banner-wrapper {
    height: 66.6666666667px;
  }
  div.character-card.full div.build-header img.character-portrait {
    height: 66.6666666667px;
    margin-left: 35px;
  }
  div.character-card.full div.build-header img.character-portrait-two {
    display: none;
  }
  div.character-card.full div.build-header div.character-title {
    top: 2px;
    left: 110px;
  }
  div.character-card.full div.build-header div.character-title h3 {
    font-size: 0.9em;
  }
  div.character-card.full div.artifact-set {
    width: 100%;
  }
  div.character-card.full div.artifact-set.multiple {
    width: 100%;
  }
  div.character-card.full div.artifact-set-alternative {
    width: 100%;
  }
  div.character-card.full div.artifact-types {
    width: 100%;
  }
  div.character-card.full div.substats {
    width: 100%;
  }
  div.character-card.full div.er-recommendation {
    width: 100%;
  }
}
@media screen and (min-width: 601px) {
  div.character-card.full {
    width: 475px;
    margin: 25px;
  }
  div.character-card.full div.build-header {
    width: 485px;
    position: relative;
    height: 100px;
    left: -5px;
  }
  div.character-card.full div.build-header img.character-portrait {
    bottom: 5px;
    height: 105px;
  }
  div.character-card.full div.artifact-set {
    width: 100%;
  }
  div.character-card.full div.artifact-set.multiple {
    float: left;
    width: 222.5px;
  }
  div.character-card.full div.artifact-set-alternative {
    position: absolute;
    width: 222.5px;
    left: 242.5px;
  }
  div.character-card.full div.artifact-types {
    margin-right: 10px;
    width: 222.5px;
  }
  div.character-card.full div.substats {
    width: 222.5px;
  }
  div.character-card.full div.er-recommendation {
    width: 222.5px;
  }
}
div.character-card.small {
  width: 270px;
  margin: 15px 20px;
}
div.character-card.small div.build-header {
  width: 270px;
  height: 66.6666666667px;
  left: 0;
}
div.character-card.small div.build-header img.character-portrait {
  margin-left: 3px;
  bottom: 0;
  height: 66.6666666667px;
}
div.character-card.small div.build-header img.character-element {
  height: 33.3333333333px;
  width: 33.3333333333px;
  position: absolute;
  z-index: 2;
  top: -12px;
  left: -15px;
}
div.character-card.small div.build-header div.character-banner-wrapper {
  height: 100%;
  opacity: 0.4;
}
div.character-card.small div.build-header div.character-banner-wrapper img.character-banner {
  bottom: 0;
}
div.character-card.small div.build-header div.character-title {
  position: absolute;
  left: 74.6666666667px;
  top: 10px;
  text-shadow: 1px 1px 5px black;
}
div.character-card.small div.build-header div.character-title h2 {
  font-size: 1.1em;
}
div.character-card.small div.build-header div.character-title h3.build-name {
  font-size: 0.8em;
  position: relative;
  top: -5px;
  margin: 0;
  font-weight: 700;
}
div.character-card.small div.build-content div.artifact-set {
  position: relative;
  width: 100%;
}
div.character-card.small div.build-content div.artifact-set.multiple {
  float: none;
  width: 100%;
}
div.character-card.small div.build-content div.artifact-set.multiple div.build-section-text ul li {
  padding-right: 30px;
}
div.character-card.small div.build-content div.artifact-set-alternative {
  width: 30px;
  position: absolute;
  top: 10px;
  left: 220px;
}
div.character-card.small div.build-content div.artifact-set-alternative img.artifact-icon-alt-small {
  height: 35px;
}
div.character-card.small div.build-content div.about button {
  width: 100%;
}
div.character-card.small div.build-content div.artifact-types, div.character-card.small div.build-content div.about, div.character-card.small div.build-content div.substats, div.character-card.small div.build-content div.er-recommendation {
  width: 100%;
}

div.character-card {
  position: relative;
  background-color: #222222;
  box-shadow: 1px 3px 5px #191919;
  border-radius: 5px;
}
div.character-card div.build-header {
  border-radius: 5px;
  background-color: #1f1f1f;
  margin-bottom: 10px;
}
div.character-card div.build-header img.character-portrait, div.character-card div.build-header img.character-portrait-two {
  position: relative;
  z-index: 1;
  border-radius: 10px;
  padding: 0;
  margin-left: 15px;
}
div.character-card div.build-header img.character-portrait-two {
  left: 205px;
}
div.character-card div.build-header img.character-element {
  height: 50px;
  width: 50px;
  position: absolute;
  z-index: 2;
  top: -15px;
  left: -20px;
}
div.character-card div.build-header div.character-banner-wrapper {
  width: 100%;
  height: 100px;
  position: absolute;
  bottom: 0px;
  z-index: 0;
  overflow: hidden;
  opacity: 0.7;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom-left-radius: 2px;
  border-bottom-right-radius: 2px;
}
div.character-card div.build-header div.character-banner-wrapper img.character-banner {
  width: 100%;
  position: relative;
  bottom: 60px;
}
div.character-card div.build-header div.character-title {
  position: absolute;
  left: 125px;
  top: 15px;
  text-shadow: 1px 1px 5px black;
}
div.character-card div.build-header div.character-title h2.character-name {
  color: #FFF;
}
div.character-card div.build-header div.character-title h3.build-name {
  position: relative;
  top: -5px;
  margin: 0;
  color: #DDD;
  font-weight: 700;
}
div.character-card div.build-header div.pin-build {
  position: absolute;
  top: 0;
  right: 0;
}
div.character-card div.build-content {
  margin-left: 0;
  padding: 10px;
  position: relative;
}
div.character-card div.build-content div.build-section {
  display: flex;
  position: relative;
  background-color: #252525;
  padding: 10px 6px 12px 6px;
  margin-bottom: 10px;
  border-bottom: 1px solid #192019;
  font-size: 0.95em;
  box-shadow: 1px 3px 5px #202020;
  border-radius: 5px;
}
div.character-card div.build-content div.build-section img.artifact-icon {
  position: absolute;
  z-index: 3;
  top: 5px;
  left: 2px;
  height: 55px;
  width: 55px;
  opacity: 1;
}
div.character-card div.build-content div.build-section img.artifact-icon-top,
div.character-card div.build-content div.build-section img.artifact-icon-bottom {
  height: 42.3076923077px;
  width: 42.3076923077px;
}
div.character-card div.build-content div.build-section img.artifact-icon-top {
  position: absolute;
  z-index: 5;
  top: 10px;
  left: 3px;
}
div.character-card div.build-content div.build-section img.artifact-icon-bottom {
  position: absolute;
  z-index: 4;
  top: 30px;
  left: 17px;
}
div.character-card div.build-content div.build-section div.clipping-mask-top,
div.character-card div.build-content div.build-section div.clipping-mask-bottom {
  position: absolute;
  z-index: 4;
  height: 55px;
  width: 55px;
  overflow: hidden;
}
div.character-card div.build-content div.build-section div.clipping-mask-top img.artifact-icon-split,
div.character-card div.build-content div.build-section div.clipping-mask-bottom img.artifact-icon-split {
  position: absolute;
  width: 100%;
  height: 100%;
}
div.character-card div.build-content div.build-section div.clipping-mask-top {
  top: 5px;
  left: 2px;
  clip-path: polygon(0% 0%, 100% 0%, 0% 100%);
}
div.character-card div.build-content div.build-section div.clipping-mask-bottom {
  top: 7px;
  left: 3px;
  clip-path: polygon(0% 100%, 100% 100%, 100% 0%);
}
div.character-card div.build-content div.build-section img.artifact-icon-simple {
  position: absolute;
  opacity: 0.7;
  height: 45px;
  width: 45px;
}
div.character-card div.build-content div.build-section div.build-section-text {
  margin-left: 55px;
}
div.character-card div.build-content div.build-section div.build-section-text h4 {
  font-size: 0.9em;
  font-weight: 400;
  color: #BBB;
}
div.character-card div.build-content div.build-section div.build-section-text p, div.character-card div.build-content div.build-section div.build-section-text li {
  font-weight: 400;
}
div.character-card div.build-content div.build-section div.build-section-text span.artifact-logic {
  font-weight: 400;
  color: rgba(255, 255, 255, 0.87);
}
div.character-card div.build-content div.build-section div.build-section-text .highlighted {
  font-weight: 700;
}
div.character-card div.build-content div.constellation {
  position: absolute;
  bottom: 0;
  width: 100%;
  opacity: 0.02;
  pointer-events: none;
}
div.character-card div.build-content div.constellation img {
  width: 100%;
  height: 100%;
}
div.character-card div.build-content div.artifact-set {
  position: relative;
}
div.character-card div.build-content div.artifact-set-alternative div.build-section {
  background: none;
}
div.character-card div.build-content div.artifact-set-alternative div.build-section div.build-section-text {
  opacity: 0.8;
}
div.character-card div.build-content div.artifact-types {
  float: left;
}
div.character-card div.build-content div.substats {
  float: left;
}
div.character-card div.build-content div.er-recommendation {
  float: left;
}
div.character-card div.build-content div.about {
  font-weight: 400;
  line-height: 1.35;
  clear: both;
}
div.character-card div.build-content div.about button {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 455px;
  background: linear-gradient(transparent 0%, #252525 75%, #252525 100%);
  border: none;
  padding: 10px;
}
div.character-card div.build-content div.about button span {
  color: #999;
  position: relative;
  top: 10px;
}
div.character-card div.build-content div.about button:hover {
  cursor: pointer;
}
div.character-card div.build-content div.about button:hover span {
  color: #FFF;
}
div.character-card div.build-content div.about div.build-section.minimized {
  height: 85px;
  overflow: hidden;
}
div.character-card div.build-content div.about div.build-section.expanded {
  height: unset;
  overflow: unset;
  padding-bottom: 30px;
}

/*# sourceMappingURL=Character.css.map */
