
// VARIABLES
// ------------------------------------------
// Sizes
$banner-size: 100px;
$element-icon-size: 50px;
$artifact-icon-simple-size: 45px;
$artifact-icon-size: 50px;
$card-width-full: 475px;
$card-width-small: 275px;

// Colors
$primary-color: #242424;


// MISC
// ------------------------------------------
// Character rarity colors
.rarity-4 {
  border-bottom: 5px solid purple;
}
.rarity-5 {
  border-bottom: 5px solid orange;
}


@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}


// TOOLTIP
// ------------------------------------------

// Tooltip display logic 
  div.tooltip-on-hover:hover + div.artifact-info.tooltip,
  div.tooltip-on-hover:hover + div.artifact-info.tooltip-alt {
    display: block;
  }

// General rules 
  div.artifact-info.tooltip {
    display: none;
    position: absolute;
    left: 10px;
    top: 10px;
    z-index: 9999;
    width: 455px;
    border-bottom: 1px solid #202020;
    font-size: 0.95em;
    box-shadow: 5px 5px 10px #222222;
    background-color: lighten(#222222, 3%);
    color: rgba(255, 255, 255, 0.87);
    border-radius: 5px;
    pointer-events: none;
    padding: 2px;
    animation-name: fade-in;
    animation-duration: 0.2s;
    animation-iteration-count: 1;

    div.tooltip-part {
      display: flex;

      img {
        margin-top: 8px;
        margin-left: 4px;
        height: $artifact-icon-size;
        width: $artifact-icon-size;
      }
      div.tooltip-text {
        margin-top: 10px;
        padding-left: 5px;
        padding-right: 30px;

        h4 {
          font-size: 1em;
          font-weight: 600;
        }
        p {
          color: #DDD;
          font-size: 0.9em;
          margin-bottom: 15px;
        }
      }
    }
  }


// SMALL SCREEN SIZES
@media screen and (max-width: 600px) {
  div.character-card.full {
    width: 100%;
    margin-bottom: 20px;

    // Header
    div.build-header {
      width: 100%;
      position: relative;
      height: $banner-size / 1.5;

      // Element
        img.character-element {
          height: 30px;
          width: 30px;
          left: 5px;
          top: 14px;
        }

      // Banner
        div.character-banner-wrapper {
          height: $banner-size / 1.5;
        }

      // Portrait
        img.character-portrait {
          height: $banner-size / 1.5 + 5px;
          margin-left: 35px;
          bottom: 5px;
        }
        img.character-portrait-two {
          display: none;
        }

      // Titles
        div.character-title {
          top: 6px;
          left: 115px;

        // Character name
          h2 {
            font-size: 1.2em;
          }

        // Build name
          h3 {
            font-size: 1em;
          }
      }
    }

  // Build Content
    div.build-content {
      animation-name: fade-in;
      animation-duration: 0.3s;
      animation-iteration-count: 1;

      // Icon sizes
        div.build-section {
          img.artifact-icon {
            height: $artifact-icon-size / 1.5;
            width: $artifact-icon-size / 1.5;
          }
          img.artifact-icon-simple {
            height: $artifact-icon-simple-size / 1.5;
            width: $artifact-icon-simple-size / 1.5;
          }
          img.artifact-icon-top {
            height: $artifact-icon-size / 2;
            width: $artifact-icon-size / 2;
          }
          img.artifact-icon-bottom {
            height: $artifact-icon-size / 2;
            width: $artifact-icon-size / 2;
            top: 26px;
            left: 11px;
          }
          div.build-section-text {
            font-size: 0.85em;
          }
        }
    }

  // Artifact types - Sands, Goblet, Circlet 
    div.artifact-types {
      width: calc(50% - 10px);
      margin-right: 10px;
      float: left;
    }

  // Substats, ER Recommendation
    div.substats, div.er-recommendation {
      width: calc(50%);
      float: left;
    }

  // About
    div.about {
      button {
        width: 100%;
      }
    }

  }
  div.artifact-info.tooltip {
    width: 100%;

    div.tooltip-part {
      img {
        margin-top: 8px;
        height: $artifact-icon-size / 1.5;
        width: $artifact-icon-size;
      }
      div.tooltip-text {
        margin-top: 10px;
        padding-left: 5px;
        padding-right: 30px;

        h3 {
          font-size: 1em;
        }
        h4 {
          font-size: 0.9em;
          font-weight: 600;
        }
        p {
          color: #DDD;
          font-size: 0.8em;
          margin-bottom: 15px;
        }
      }
    }
  }
}

// LARGE SCREEN SIZES
@media screen and (min-width: 601px) {
// Character Card - Full version 
  div.character-card.full {
    width: $card-width-full;
    margin: 25px;

  // Header wrapper 
    div.build-header {
      width: $card-width-full +10px;
      position: relative;
      height: $banner-size;
      left: -5px;

      // Character Portrait 
        img.character-portrait {
          bottom: 5px;
          height: $banner-size + 5;
        }
      
      // Secondary Character Portrait (Traveler) 
        img.character-portrait-two {
          height: $banner-size + 5;
        }
      
      // Pin Build 
        div.pin-build {
          top: -5px;
        }
    }

  // Artifact types - Sands, Goblet, Circlet 
    div.artifact-types {
      margin-right: 10px;
      width: ($card-width-full / 2) - 15px;
    }

  // Substats 
    div.substats {
      width: ($card-width-full / 2) - 15px;
    }

  // ER Recommendation 
    div.er-recommendation {
      width: ($card-width-full / 2) - 15px;
    }

    div.about {
      button {
        width: $card-width-full - 20px;
      }
    }
  }

// Character Card - Small version
  div.character-card.small {
    width: $card-width-small;
    margin: 20px;

    // Header
      div.build-header {
        width: $card-width-small;
        height: $banner-size / 1.5;
        position: relative;
        left: 0;
        margin-bottom: 5px;

      // Banner 
        div.character-banner-wrapper {
          height: $banner-size / 1.5;
          opacity: 0.5;
          bottom: 0px;

          img.character-banner {
            bottom: 20px;
          }
        }
      // Element
        img.character-element {
          height: $element-icon-size / 1.5;
          width: $element-icon-size / 1.5;
          position: absolute;
          z-index: 2;
          top: -12px;
          left: -15px;
        }
      // Portrait
        img.character-portrait {
          margin-left: 3px;
          bottom: 5px;
          height: $banner-size / 1.5 + 5px;
        }
      // Titles
        div.character-title {
          position: absolute;
          left: $banner-size / 1.5 + 10px;
          top: 6px;
          text-shadow: 1px 1px 5px black;

        // Character name
          h2.character-name {
            width: $card-width-small - $banner-size / 1.5 - 30;
            font-size: 1.2em;
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
            font-weight: 600;
          }

        // Build name
          h3.build-name {
            font-size: 0.9em;
            position: relative;
            top: -5px;
            margin: 0;
            font-weight: 600;
          }
      }
    }

    // General content
      div.build-content {
        div.build-section {
          div.build-section-text {
            h4 {
              font-size: 0.8em;
            }
            p,li {
              color: #FFF;
              font-size: 0.95em;
            }
            p.highlighted,li.highlighted {
              color: lightgreen;
            }
          }
        }

    // Specific sections
      // Artifacts
        div.artifact-options-1,
        div.artifact-options-2, 
        div.artifact-options-3,
        div.artifact-options-4 {

          // All sets
            div.artifact-set {
              position: relative;
            }
          // Option 1: Main set(s)
            div.artifact-set.option-1 {
              grid-column: span 2;
            }
          // Alternative sets: Icons
            div.artifact-set-alternative {
              width: 30px;
              position: absolute;
              top: 10px;
              left: 220px;

              img.artifact-icon-alt-1-small, img.artifact-icon-alt-2-small {
                height: 35px;
                position: relative;
                left: 20px;
              }
              img.artifact-icon-alt-2-small {
                top: -10px;
              }
            }
        }
      // About
        div.about {
          button {
            width: 100%;
          }
        }
      // All sections cover full width
        div.artifact-types, div.about, div.substats, div.er-recommendation {
          width: 100%;
        }
      }
    }
  }

// ALL SCREEN SIZES
// Character Card - General 
  div.character-card {
    position: relative;
    background-color: #222222;
    box-shadow: 1px 3px 5px #191919;
    border-radius: 5px;

  // Header wrapper 
    div.build-header {
      border-radius: 5px;
      background-color: darken(#222222, 1%);

    // Portraits 
      img.character-portrait, img.character-portrait-two {
        position: relative;
        z-index: 1;
        border-radius: 10px;
        padding: 0;
        margin-left: 15px;
      }
      img.character-portrait-two {
        position: absolute;
        right: 20px;
        bottom: -5px;
      }

    // Element 
      img.character-element {
        height: $element-icon-size;
        width: $element-icon-size;
        position: absolute;
        z-index: 2;
        top: -15px;
        left: -20px;
      }

    // Banner 
      div.character-banner-wrapper {
        width: 100%;
        height: $banner-size;
        position: absolute;
        bottom: 0px;
        z-index: 0;
        overflow: hidden;
        opacity: 0.7;
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
        border-bottom-left-radius: 2px;
        border-bottom-right-radius: 2px;

        img.character-banner {
          width: 100%;
          position: relative;
          bottom: 60px;
        }  
      }

    // Titles - Name + Build 
      div.character-title {
        position: absolute;
        left: $banner-size + 25px;
        top: 15px;
        text-shadow: 1px 1px 5px black;

        h2.character-name {
          color: #FFF;
        }
        h3.build-name {
          position: relative;
          top: -5px;
          margin: 0;
          color: #DDD;
          font-weight: 700;
        }
      }

    // Pin build button 
      div.pin-build {
        position: absolute;
        top: 3px;
        right: 5px;

        button.pin-build-button {
          color: #aaa;
          background: none;
          border: none;
          font-size: 2em;
          text-shadow: 1px 1px 5px #333;
        }
        button.pin-build-button:hover {
          color: darken(gold, 10%);
          cursor: pointer;
        }
        button.pin-build-button.active {
          color: gold;
        }
      }
    }

  // Content wrapper 
    div.build-content {
      margin-left: 0;
      margin-top: 3px;
      padding: 10px;
      position: relative;

    // Applies to multiple sections 
      div.build-section {
        display: flex;
        height: 100%;
        position: relative;
        background-color: lighten(#222222, 1%);
        padding: 10px 6px 12px 6px;
        margin-bottom: 10px;
        border-bottom: 1px solid #192019;
        font-size: 0.95em;
        box-shadow: 1px 3px 5px #202020;
        border-radius: 5px;

      // Single artifact icons 
        img.artifact-icon {
          z-index: 3;
          height: $artifact-icon-size;
          width: $artifact-icon-size;
          opacity: 1;
        }

      // Multi set artifact icons (show both)
        div.artifact-icons-double {
          height: $artifact-icon-size;
          width: $artifact-icon-size;

          img.artifact-icon-top,
          img.artifact-icon-bottom {
            height: $artifact-icon-size / 1.3;
            width: $artifact-icon-size / 1.3;
          }
          img.artifact-icon-top {
            position: relative;
            z-index: 5;
          }
          img.artifact-icon-bottom {
            position: absolute;
            z-index: 4;
            top: 30px;
            left: 15px;
          }
        }

      // Multi set artifact icons (split style) 
        div.clipping-mask-top,
        div.clipping-mask-bottom {
          position: absolute;
          z-index: 4;
          height: $artifact-icon-size;
          width: $artifact-icon-size;
          overflow: hidden;

          img.artifact-icon-split {
            position: absolute;
            width: 100%;
            height: 100%;
          }
        }
        div.clipping-mask-top {
          top: 5px;
          left: 2px;
          clip-path: polygon(0% 0%, 100% 0%, 0% 100%);
        }
        div.clipping-mask-bottom {
          top: 7px;
          left: 3px;
          clip-path: polygon(0% 100%, 100% 100%, 100% 0%);
        }

      // Generic icons (substats, ER) 
        img.artifact-icon-simple {
          opacity: 0.7;
          height: $artifact-icon-simple-size;
          width: $artifact-icon-simple-size;
        }

      // Text blocks 
        div.build-section-text {
          padding-left: 5px;

          h4 {
            font-size: 0.9em;
            font-weight: 400;
            color: #BBB;
          }
          p, li {
            font-weight: 400;
          }
          span.artifact-logic {
            font-weight: 400;
            color: rgba(255, 255, 255, 0.87);
          }
          .highlighted {
            font-weight: 700;
          }
        }
      }

    // Applies to specific sections

      // Background element 
        div.constellation {
          position: absolute;
          bottom: 0;
          width: 100%;
          //opacity: 1;
          opacity: 0.02;
          pointer-events: none;

          img {
            width: 100%;
            height: 100%;
          }
        }

      // Artifacts
        // If 1 option
        div.artifact-options-1 {
          div.artifact-set.option-1 {
            width: 100%;
          }
        }
        // If more than 1 option
        div.artifact-options-2,
        div.artifact-options-3,
        div.artifact-options-4 {
          display: grid;
          grid-template-columns: 1fr 1fr;
          gap: 10px;
          margin-bottom: 10px;

          // Remove extra margin from grid items
          div.build-section {
            margin-bottom: 0;
          }
        }
        div.artifact-options-3 {
          div.artifact-set.option-1 {
            grid-column: span 2;
          }
        }

      // Artifact types - Sands, Goblet, Circlet 
        div.artifact-types {
          float: left;
        }

      // Substats 
        div.substats {
          float: left;
        }

      // ER Recommendation 
        div.er-recommendation {
          float: left;
        }

      // About 
        div.about {
          font-weight: 400;
          line-height: 1.35;
          clear: both;

          // Expand text button
          button {
            position: absolute;
            left: 0;
            bottom: 0;
            background: linear-gradient(transparent 0%, #252525 75%, #252525 100%);
            border: none;
            padding: 10px;

            // Triangle icon
            span {
              color: #999;
              position: relative;
              top: 10px;
            }
          }

          // Expand text button:hover
          button:hover {
            cursor: pointer;

            // Triangle icon
            span {
              color: #FFF;
            }
          }

          // Minimized section class
          div.build-section.minimized {
            max-height: 85px;
            overflow: hidden;
          }
          // Expanded section class
          div.build-section.expanded {
            overflow: unset;
            padding-bottom: 30px;
          }
        }
    
    }
  }