
$banner-size: 100px;
$element-icon-size: 50px;
$artifact-icon-simple-size: 45px;
$artifact-icon-size: 55px;
$card-width-full: 450px;
$card-width-small: 270px;

  .rarity-4 {
    border-bottom: 5px solid purple;
  }
  .rarity-5 {
    border-bottom: 5px solid orange;
  }





  div.character-card.small {
    width: $card-width-small;
    margin: 15px 20px;

    div.build-header {
      width: $card-width-small;
      height: $banner-size / 1.5;
      left: 0;

      img.character-portrait {
        margin-left: 3px;
        bottom: 0;
        height: $banner-size / 1.5;
      }
      img.character-element {
        height: $element-icon-size / 1.5;
        width: $element-icon-size / 1.5;
        position: absolute;
        z-index: 2;
        top: -12px;
        left: -15px;
      }

      div.character-banner-wrapper {
        height: 100%;
        opacity: 0.4;

        img.character-banner {
          bottom: 0;
        } 
      }
      div.character-title {
        position: absolute;
        left: $banner-size / 1.5 + 8px;
        top: 10px;
        text-shadow: 1px 1px 5px black;

        h2 {
          font-size: 1.1em;
        }

        h3.build-name {
          font-size: 0.8em;
          position: relative;
          top: -5px;
          margin: 0;
          font-weight: 700;
        }
      }
    }

    div.build-content {
      div.artifact-set {
        position: relative;
        width: 100%;
      }
      div.artifact-set.multiple {
        float: none;
        width: 100%;

        div.build-content-entry-content {
          ul {
            li {
              padding-right: 30px;
            }
          }
        }
      }
      div.artifact-set-alternative {
        width: 30px;
        position: absolute;
        top: 10px;
        left: 220px;

        div.build-content-entry:hover {
          background: none !important;
        }
        div.build-content-entry {
          background: none;
          box-shadow: none;
          border: none;

          div.artifact-icon-wrapper {
            img {
              height: 40px;
            }
          }

        }
      }
      div.artifact-types, div.note, div.substats, div.er-requirements {
        width: 100%;
      }
    }
  }


  div.character-card.full {
    width: $card-width-full;
    margin: 30px;
  }

  div.character-card {
    position: relative;
    background-color: #222222;
    box-shadow: 1px 3px 5px #191919;
    border-radius: 5px;

    div.build-header {
      border-radius: 5px;
      height: $banner-size;
      width: $card-width-full +10px;
      position: relative;
      left: -5px;
      background-color: darken(#222222, 1%);
      margin-bottom: 10px;

      img.character-portrait, img.character-portrait-two {
        position: relative;
        z-index: 1;
        bottom:5px;
        height: $banner-size + 5;
        border-radius: 10px;
        padding: 0;
        margin-left: 15px;
      }
      img.character-portrait-two {
        left: 205px;
      }
      img.character-element {
        height: $element-icon-size;
        width: $element-icon-size;
        position: absolute;
        z-index: 2;
        top: -15px;
        left: -20px;
      }
      div.character-banner-wrapper {
        width: 100%;
        height: $banner-size;
        position: absolute;
        bottom: 0px;
        z-index: 0;
        overflow: hidden;
        opacity: 0.7;
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
        border-bottom-left-radius: 2px;
        border-bottom-right-radius: 2px;

        img.character-banner {
          width: 100%;
          position: relative;
          bottom: 60px;
        }  
      }
      div.character-title {
        position: absolute;
        left: $banner-size + 25px;
        top: 15px;
        text-shadow: 1px 1px 5px black;

        h2.character-name {
          color: #FFF;
        }
        h3.build-name {
          position: relative;
          top: -5px;
          margin: 0;
          color: #DDD;
          font-weight: 700;
        }
      }
      div.pin-build {
        position: absolute;
        top: 0;
        right: 0;
      }
    }
    div.build-content {
      margin-left: 0;
      padding: 10px;
      position: relative;

      div.constellation {
        position: absolute;
        bottom: 0;
        width: 100%;
        //opacity: 1;
        opacity: 0.02;
        pointer-events: none;

        img {
          width: 100%;
          height: 100%;
        }
      }

      // General rules for entries
      div.build-content-entry {
        display: flex;
        position: relative;
        background-color: lighten(#222222, 1%);
        padding: 10px 6px 12px 6px;
        margin-bottom: 10px;
        border-bottom: 1px solid #192019;
        font-size: 0.95em;
        box-shadow: 1px 3px 5px #202020;
        border-radius: 5px;

        img.artifact-icon {
          position: absolute;
          z-index: 3;
          top: 5px;
          left: 2px;
          height: $artifact-icon-size;
          //opacity: 0.6;
          opacity: 1;
        }
        img.artifact-icon-2 {
          position: absolute;
          z-index: 4;
          top: 35px;
          left: 2px;
          height: $artifact-icon-size;
          //opacity: 0.6;
          opacity: 1;
        }

        img.artifact-icon-simple {
          position: absolute;
          opacity: 0.7;
          //top: -4px;
          //left: -7px;
          height: $artifact-icon-simple-size;
          width: $artifact-icon-simple-size;
        }
        div.build-content-entry-content {
          margin-left: 55px;

          h4 {
            font-size: 0.9em;
            font-weight: 400;
            color: #BBB;
          }
          li {
            font-weight: 600;
          }
        }
      }

      .artifact-logic-and, .artifact-logic-or {
        font-weight: 400;
        color: rgba(255, 255, 255, 0.87);
      }

      // Specific rules for entries
      div.artifact-set {
        position: relative;
        width: 100%;
      }
      div.artifact-set.multiple {
        float: left;
        margin-right: 10px;
        width: 210px;
      }
      div.artifact-set-alternative {
        position: absolute;
        left: 230px;
        width: 210px;

        div.build-content-entry {
          background: none;

          div.build-content-entry-content {
            opacity: 0.8;
          }
        }
      }
      div.artifact-types {
        float: left;
        margin-right: 10px;
        width: 210px;
      }
      div.substats {
        width: 210px;
        float: left;
      }
      div.er-recommendation {
        width: 210px;
        float: left;
      }
      div.note {
        font-weight: 600;
        line-height: 1.35;
        clear: both;

        div.build-content-entry {
          padding-top: 10px;
          padding-bottom: 20px;
        }
      }
    }
  }




div.tooltip-on-hover:hover + div.artifact-info.tooltip,
div.tooltip-on-hover:hover + div.artifact-info.tooltip-alt {
  display: block;
}

div.build-content-entry:hover {
  background-color: lighten(#222222, 3%);
}

div.artifact-info.tooltip, div.artifact-info.tooltip-alt {
  display: none;
  position: absolute;
  z-index: 60;
  padding: 20px;
  width: 350px;
  border-bottom: 1px solid #192019;
  font-size: 0.95em;
  box-shadow: 5px 10px 10px #171717;
  background-color: lighten(#222222, 3%);
  color: rgba(255, 255, 255, 0.87);
  border-radius: 5px;
  pointer-events: none;

  h4 {
    font-size: 1.1em;
    font-weight: 700;
  }
  p {
    font-size: 0.9em;
    margin-bottom: 10px;
  }
  p:last-of-type {
    margin-bottom: 0;
  }
}
div.artifact-info.tooltip { 
  left: 0;
}
div.artifact-info.tooltip-alt { 
  right: 0;
}
div.build-content {
  div.artifact-set, div.artifact-set-alternative {
    div.build-content-entry:hover {
      background-color: lighten(#222222, 3%) !important;

      div.build-content-entry-content {
        opacity: 1 !important;
      }
    } 
  }
}