@media screen and (max-width: 600px) {
  section#filter.closed {
    left: -100%;
  }
  section#filter.open {
    left: 0;
  }
  section#filter {
    width: 100%;
    transition: all 0.3s ease-out;
    padding: 10px;
    top: 175px;
  }
  section#filter div#filter-header.closed {
    left: -100%;
  }
  section#filter div#filter-header {
    background-color: #1f1f1f;
    position: fixed;
    z-index: 100;
    top: 40px;
    left: 0;
    width: 100%;
    height: 95px;
    transition: all 0.3s ease-out;
  }
  section#filter div#filter-header div#logo {
    display: flex;
    align-items: center;
    margin-left: 5px;
  }
  section#filter div#filter-header div#logo img {
    height: 40px;
    width: 40px;
    margin-right: 5px;
  }
  section#filter div#filter-header div#logo h1 {
    line-height: 1;
    font-size: 1.8em;
  }
  section#filter div#filter-header div.filter-option {
    margin-top: 2px;
    padding: 0 10px;
  }
  section#filter div#filter-header div.filter-option div.dropdown p {
    padding: 10px 2px;
  }
  section#filter div#filter-tabs {
    position: fixed;
    display: block;
    width: 100%;
    left: 0;
    top: 135px;
    transition: all 0.3s ease-out;
    display: flex;
    z-index: 10;
    background-color: #202020;
  }
  section#filter div#filter-tabs div.filter-tab {
    background-color: #1c1c1c;
    border: none;
    width: 70px;
    height: 40px;
  }
  section#filter div#filter-tabs div.filter-tab button.filter-select {
    color: #FFF;
    background: none;
    width: 100%;
    height: 100%;
    border: none;
    display: flex;
    align-items: center;
    text-align: center;
  }
  section#filter div#filter-tabs div.filter-tab button.filter-select img {
    height: 85%;
    margin: 0 auto;
  }
  section#filter div#filter-tabs div.filter-tab button.filter-select p {
    padding-left: 6px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
  section#filter div#filter-tabs div.filter-tab.highlighted {
    background-color: #222222;
  }
  section#filter div#filter-tabs button.filter-new, section#filter div#filter-tabs button.filter-pinned, section#filter div#filter-tabs button.filter-suggestion {
    color: #FFF;
    width: 70px;
    height: 40px;
    border: none;
    background-color: #1c1c1c;
    font-size: 1.1em;
    overflow: hidden;
  }
  section#filter div#filter-tabs button.filter-pinned.highlighted {
    background-color: #222222;
    color: gold;
  }
  section#filter div#filter-tabs button.filter-suggestion img {
    height: 85%;
    margin-right: 4px;
    margin-left: 0px;
  }
  section#filter div#filter-tabs button.filter-suggestion p {
    display: none;
  }
  section#filter div#filter-tabs.closed {
    left: -100%;
  }
  section#filter div.dropdown-wrapper div.dropdown p {
    width: calc(100% - 44px - 44px) !important;
  }
  section#filter div.dropdown-wrapper, section#filter div.search-bar, section#filter label {
    width: 100%;
  }
  section#filter ul.dropdown-menu {
    width: calc(100% - 20px);
    margin-right: 10px !important;
  }
  section#filter div#filter-other {
    margin-bottom: 70px;
  }
  section#filter div.toggle-filters {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    display: flex;
    height: 50px;
    transition: all 0.3s ease-out;
  }
  section#filter div.toggle-filters button.reset-filters {
    margin: 0;
    width: 100%;
  }
  section#filter div.toggle-filters button.apply-filters {
    margin: 0;
    width: 100%;
  }
  section#filter div.toggle-filters.closed {
    left: -100%;
  }
}
@media screen and (min-width: 601px) {
  section#filter {
    padding: 10px 20px 60px 20px;
    width: 300px;
    top: 145px;
  }
  section#filter div#filter-header {
    background-color: #1f1f1f;
    position: fixed;
    z-index: 100;
    top: 0;
    left: 0;
    width: 302px;
    height: 145px;
  }
  section#filter div#filter-header div#logo {
    display: flex;
    align-items: center;
    margin-top: 15px;
    margin-left: 15px;
  }
  section#filter div#filter-header div#logo img {
    position: relative;
    top: 2px;
    height: 70px;
    width: 70px;
    margin-right: 2px;
  }
  section#filter div#filter-header div#logo h1 {
    font-size: 1em;
    line-height: 1;
    display: flex;
    flex-direction: column;
  }
  section#filter div#filter-header div#logo h1 span.crimson {
    font-size: 1.8em;
  }
  section#filter div#filter-header div#logo h1 span.witch {
    font-size: 1.8em;
    margin-left: 1px;
  }
  section#filter div#filter-header div.filter-option {
    position: absolute;
    top: 97px;
    padding: 0 20px;
    height: 40px;
  }
  section#filter div#filter-header div.filter-option div.dropdown:hover {
    background-color: #313131;
  }
  section#filter div#filter-header div.filter-option div.dropdown {
    height: 40px;
    border-radius: 5px;
    border-bottom: none;
  }
  section#filter div#filter-header div.filter-option div.dropdown p {
    padding: 6px 4px;
  }
  section#filter div#filter-header div.filter-option ul.dropdown-menu {
    padding: 0;
    overflow: hidden;
  }
  section#filter div#filter-header div.filter-option div.search-bar {
    height: 40px;
    border-radius: 5px;
    background-color: #363636;
    border-bottom: none;
  }
  section#filter div#filter-header div.filter-option div.search-bar input.search-input {
    height: 38px;
    padding: 0px 10px;
  }
  section#filter div.dropdown-wrapper, section#filter ul.dropdown-menu, section#filter div.search-bar, section#filter label {
    width: 250px;
  }
  section#filter div.toggle-filters {
    position: fixed;
    bottom: 0px;
    height: 20px;
    width: 250px;
    background-color: #222222;
  }
  section#filter div.toggle-filters button.reset-filters {
    position: fixed;
    bottom: 10px;
    box-shadow: 0px 0px 10px #222222;
  }
}
section#filter {
  position: fixed;
  height: calc(100% - 145px);
  z-index: 99;
  background-color: #222222;
  box-sizing: border-box;
  left: 0;
  overflow-y: scroll;
  scrollbar-width: thin;
  font-size: 1em;
}
section#filter div#logo {
  cursor: pointer;
}
section#filter h3 {
  font-size: 1.1em;
  margin-bottom: 3px;
}
section#filter div.filter-artifact-mainstats div.filter-option {
  margin: 0;
}
section#filter div.filter-artifact-mainstats div.filter-option:last-of-type {
  margin-bottom: 15px;
}
section#filter div.filter-option {
  margin-bottom: 15px;
}
section#filter div.filter-option img.filter-icon {
  height: 25px;
  margin-right: 7px;
  filter: grayscale(100%);
}
section#filter div.filter-option div.search-bar {
  height: 44px;
  color: rgba(255, 255, 255, 0.87);
  background-color: #252525;
  border-bottom: 1px solid #192019;
  position: relative;
}
section#filter div.filter-option div.search-bar input.search-input {
  all: unset;
  padding: 0 10px;
  height: 44px;
  width: 250px;
}
section#filter div.filter-option label {
  transition: all 0.3s ease-out;
  display: flex;
  padding: 4px 5px 5px 5px;
  background-color: #252525;
  border-bottom: 1px solid #192019;
  box-shadow: 1px 3px 5px #202020;
  user-select: none;
}
section#filter div.filter-option label img {
  margin-top: 1px;
}
section#filter div.filter-option label input {
  display: none;
  visibility: hidden;
}
section#filter div.filter-option label:hover {
  background-color: #313131;
  cursor: pointer;
}
section#filter div.element-toggle {
  display: flex;
  width: 250px;
}
section#filter div.element-toggle button.selected {
  filter: grayscale(0);
}
section#filter div.element-toggle button.unselected {
  filter: grayscale(100%);
}
section#filter div.element-toggle button {
  cursor: pointer;
  height: 35px;
  border: none;
  transition: all 0.3s ease-out;
}
section#filter div.element-toggle button img {
  padding-top: 2px;
  width: 100%;
}
section#filter div.dropdown-wrapper {
  position: relative;
  overflow: hidden;
}
section#filter div.dropdown-wrapper div.dropdown {
  transition: all 0.3s ease-out;
  display: flex;
  cursor: pointer;
  background-color: #252525;
  border-bottom: 1px solid #192019;
  box-shadow: 1px 3px 5px #202020;
  height: 44px;
  position: relative;
  user-select: none;
}
section#filter div.dropdown-wrapper div.dropdown img {
  padding: 5px;
  padding-right: 0;
  height: 100%;
}
section#filter div.dropdown-wrapper div.dropdown p {
  width: 162px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  padding: 8px;
  padding-left: 0;
}
section#filter div.dropdown-wrapper div.dropdown:hover {
  background-color: #313131;
}
section#filter div.dropdown-wrapper div.dropdown.open {
  font-weight: 700;
  color: #FFF;
  background-color: #313131;
}
section#filter ul.dropdown-menu {
  list-style-type: none;
  margin: 0;
  padding: 0;
  position: absolute;
  z-index: 9999;
  color: rgba(255, 255, 255, 0.87);
  background-color: #222222;
  box-shadow: 0px 20px 20px #191919;
  border-bottom: 1px solid #192019;
  margin-bottom: 20px;
  padding-bottom: 5px;
  max-height: calc(100vh - 327px);
  overflow-y: scroll;
  scrollbar-width: thin;
}
section#filter ul.dropdown-menu li:last-of-type {
  border-bottom: none;
}
section#filter ul.dropdown-menu li {
  transition: all 0.3s ease-out;
  height: 40px;
  cursor: pointer;
  display: flex;
  align-items: center;
  border-bottom: 1px solid #191919;
  position: relative;
  overflow: hidden;
}
section#filter ul.dropdown-menu li img {
  height: 80%;
  margin-left: 5px;
  margin-right: 8px;
}
section#filter ul.dropdown-menu li img.artifact {
  height: 100%;
}
section#filter ul.dropdown-menu li img.character {
  height: 100%;
  border-radius: 100%;
}
section#filter ul.dropdown-menu li img.element {
  height: 65%;
  margin-left: 9px;
  margin-right: 11px;
}
section#filter ul.dropdown-menu li p {
  font-size: 0.95em;
  padding-right: 10px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
section#filter ul.dropdown-menu li:hover {
  background-color: #313131;
}

/*# sourceMappingURL=Filter.css.map */
