$filter-width: 250px;
$filter-padding: 20px;
$filter-scrollbar: 10px;
$filter-width-total: $filter-width + ($filter-padding *2) +$filter-scrollbar;
$header-height: 145px;

// Applicable to small screen sizes
@media screen and (max-width: 600px) {

  // Both main and alternate sections
  section#results {
    width: 100%;
    left: 0;

    div#no-results {
      padding: 0px 20px;
    }
    div#main-content {
      margin: 60px 0 50px 0;
      display: flex;
      flex-wrap: wrap;
      align-content: start;
      align-items: start;
      min-height: calc(100% - 170px); // 100 pixel footer + 50 margin bottom +20 top margin

      div.additional-results-text {
        margin: 0 10px;

        h3, p {
          padding: 0 5px;
        }
        h3 {
          font-size: 0.9em;
        }
        p {
          font-size: 0.7em;
          padding-top: 5px;
        }
      }
    }
  }
}

// Applicable to big screen sizes
@media screen and (min-width: 601px) {
  section#results {
    left: $filter-width-total;
    min-width: calc(100vw - $filter-width-total);

    header#results-header {
      left: $filter-width-total;
      height: $header-height;
      padding-left: 20px;

      h2 {
        margin-top: 5px;
      }

      div#filter-tabs {
        display: flex;
        position: absolute;
        top: 20px;
        height: 40px;

        div.filter-tab {
          width: 200px;
          display: flex;
          border-radius: 5px;
          overflow: hidden;
          margin-right: 5px;
          background-color: #242424;

          button.filter-select {
            background: none;
            border: none;
            width: 0; // no width, allow flex-grow from 0
            height: 40px;
            cursor: pointer;
            text-align: left;
            display: flex;
            align-items: center;
            flex-grow: 1;

            img {
              height: 90%;
              margin-right: 4px;
              margin-left: 2px;
            }
            p {
              overflow: hidden;
              text-overflow: ellipsis;
              white-space: nowrap;
            }
          }
          button.filter-close {
            background: none;
            border: none;
            width: 40px;
            height: 40px;
            cursor: pointer;
            flex-shrink: 0;
          }
          button.filter-close:hover {
            background-color: lighten(#242424, 10%);
          }
        }
        div.filter-tab:hover {
          background-color: lighten(#242424, 5%);
        }
        div.filter-tab.highlighted {
          background-color: lighten(#242424, 7%);

          button.filter-select {
            font-weight: 600;
          }
        }

        button.filter-new, 
        button.filter-pinned, 
        button.filter-suggestion {
          color: #FFF;
          border: none;
          width: 40px;
          border-radius: 5px;
          background-color: #242424;
          margin-right: 5px;
          display: flex;
          align-items: center;
          padding: 0;
          overflow: hidden;
        }
        button.filter-new, button.filter-pinned {
          justify-content: center;
          font-size: 1.2em;
          padding-bottom: 2px;
        }
        button.filter-new:hover, 
        button.filter-pinned:hover, 
        button.filter-suggestion:hover {
          background-color: lighten(#242424, 5%);
          cursor: pointer;
          transition: all 0.1s ease-out;
        }
        button.filter-pinned:hover {
          color: darken(gold, 10%);
        }
        button.filter-pinned.highlighted {
          background-color: lighten(#242424, 7%);
          color: gold;
        }
        button.filter-suggestion {
          padding: 0;

          img {
            margin-left: 2px;
            margin-right: 4px;
            height: 90%
          }
          p {
            padding-right: 20px;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
          }
        }
        button.filter-suggestion:hover {
          width: 200px;
        }
      }
    }
    div#main-content {
      margin: $header-height+20 20px 50px 20px;
      display: flex;
      flex-wrap: wrap;
      align-content: start; // each item aligns at the start, no vertical distribution
      align-items: start; // each item retains its own height
      min-height: calc(100% - 315px); // 100 pixel footer + 50 margin bottom, 145+20 margin header

      div.additional-results-text {
        h3, p {
          padding: 0px 10px;
        }
        h3 {
          margin-bottom: 5px;
          font-size: 1.1em;
        }
        p {
          font-size: 0.8em;
        }
      }
    }
  }
}

// Applicable to all screen sizes
section#results {
  position: fixed;
  top: 0;
  overflow-y: scroll;
  scrollbar-width: thin;
  height: 100%;

  // Results header 
    header#results-header {
      position: fixed;
      top: 0;
      z-index: 100;
      background-color: darken(#242424, 2%);
      min-width: calc(100vw - $filter-width-total - 8px); // 8 scrollbar

      h2 {
        color: #CCC;
        font-size: 1em;
        font-weight: 700;
      }

    // Filter visible build sections
      div#filter-build {
        height: 40px;
        position: relative;
        top: $header-height - 75px;

        h4 {
          color: #CCC;
          font-size: 1em;
          font-weight: 700;
          margin-bottom: 3px;
          margin-left: 4px;
        }

      // Show build options
        div.filter-build-options {
          height: 100%;
          display: flex;

          button.highlighted {
            background-color: lighten(#242424, 7%);
            font-weight: 400;
            color: #FFF;
          }
          button:hover {
            background-color: lighten(#242424, 5%);
            cursor: pointer;
          }
          button {
            height: 100%;
            color: #CCC;
            background-color: #242424;
            font-family: inherit;
            border: none;
            padding: 10px 13px 8px 8px;
            transition: all 0.3s ease-out;
            border-radius: 5px;
            margin-right: 5px;
            margin-bottom: 5px;
            display: flex;
            white-space: nowrap;

            img {
              margin-right: 2px;
              height: 20px;
            }
          }
        }
      }
    // Select sorting option
      div#select-sorting-option {
        position: absolute;
        top: $header-height - 75px;
        height: 40px;
        width: 240px;
        left: 850px;

      // Header (Sort results by)
        h4 {
          color: #CCC;
          font-size: 1em;
          font-weight: 700;
          margin-bottom: 3px;
          margin-left: 4px;
        }

      // Wrapper for both buttons, selected and inverse order
        div.sorting-buttons {
          display: flex;

        // Select option button
          button.option {
            width: 200px;
            margin-right: 5px;
          }
        // Toggle order button
          button.order {
            width: 40px;
          }
        // General for both buttons
          button {
            height: 100%;
            color: #CCC;
            background-color: #242424;
            font-family: inherit;
            border: none;
            padding: 10px 13px 8px 8px;
            transition: all 0.3s ease-out;
            border-radius: 5px;
            margin-bottom: 1px;
            display: flex;
            cursor: pointer;

          // Images
            img.sort-image,
            img.ascending-image,, 
            img.descending-image, {
              height: 20px;
              margin-right: 2px;
            }
            img.ascending-image, {
              transform: rotate(180deg);
            }
          // Text
            p {
              overflow: hidden;
              white-space: nowrap;
              text-overflow: ellipsis;
            }
          }

        // General for both buttons:hover
          button:hover {
            background-color: lighten(#242424, 7%);
            color: #FFF;
          }
        }

      // The dropdown list
        ul {
          //position: absolute;
          //width: 200px;
          box-shadow: 5px 13px 20px #151515;

        // Each dropdown item
          li {
            cursor: pointer;
            height: unset;
            width: 100%;
            color: #CCC;
            background-color:#242424;
            border-bottom: 1px solid #202020;
            font-family: inherit;
            padding: 8px 13px;
            transition: all 0.3s ease-out;
            border-radius: 5px;
            display: flex;
            font-size: 0.9em;
          }
          li:hover {
            background-color: lighten(#242424, 7%);
            color: #FFF;
          }
        }
      }
    }

  // Main content 
    div#main-content {
      
    // Error container, no results
      div#no-results {
        text-align: center;
        width: 500px;
        margin: 120px auto;

        img.no-result-img {
          height: 200px;
        }
        img.no-result-img.sad {
          position: relative;
          left: -20px;
        }
        img.no-result-img.surprised {
        }
        button {
          width: 60%;
        }
      } 
    // Addition results - Explanatory text
      div.additional-results-text {
        margin-top: 50px;
        border-top: 1px solid #333;
        margin-bottom: 20px;
        width: 100%;
        h3, p {
          color: #CCC;
        }
        h3 {
          margin-top: 20px;
        }
        p.selected-bonus {
          //padding-bottom: 4px;
        }
      }
    }
  }
