@media screen and (max-width: 600px) {
  section#results {
    width: 100%;
  }
  section#results div#no-results {
    padding: 0px 20px;
  }
  section#results div.results-header {
    display: none;
  }
  section#results div#results-content {
    width: 100%;
    padding-top: 20px;
  }
  div#additional-results-wrapper div.additional-results-text h3, div#additional-results-wrapper div.additional-results-text p {
    padding: 0px 10px;
    color: #CCC;
  }
  div#additional-results-wrapper div.additional-results-text h3 {
    font-size: 1em;
  }
  div#additional-results-wrapper div.additional-results-text p {
    font-size: 0.8em;
    padding-top: 5px;
  }
  div#additional-results-wrapper div#additional-results-content {
    margin-top: 20px;
  }
}
@media screen and (min-width: 601px) {
  section#results div.results-header {
    left: -8px;
    padding-left: 330px;
    height: 125px;
  }
  section#results div.results-header h2 {
    margin-top: 5px;
  }
  section#results div.results-header div#filter-tabs {
    display: flex;
    position: absolute;
    top: 20px;
    height: 40px;
  }
  section#results div.results-header div#filter-tabs div.filter-tab {
    width: 200px;
    display: flex;
    border-radius: 5px;
    overflow: hidden;
    margin-right: 5px;
    background-color: #242424;
  }
  section#results div.results-header div#filter-tabs div.filter-tab button.filter-select {
    background: none;
    border: none;
    width: 160px;
    height: 40px;
    cursor: pointer;
    text-align: left;
    display: flex;
    align-items: center;
  }
  section#results div.results-header div#filter-tabs div.filter-tab button.filter-select img {
    height: 90%;
    margin-right: 4px;
    margin-left: 2px;
  }
  section#results div.results-header div#filter-tabs div.filter-tab button.filter-select p {
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
  section#results div.results-header div#filter-tabs div.filter-tab button.filter-close {
    background: none;
    border: none;
    width: 40px;
    height: 40px;
    cursor: pointer;
  }
  section#results div.results-header div#filter-tabs div.filter-tab button.filter-close:hover {
    background-color: #3e3e3e;
  }
  section#results div.results-header div#filter-tabs div.filter-tab:hover {
    background-color: #313131;
  }
  section#results div.results-header div#filter-tabs div.filter-tab.highlighted {
    background-color: #363636;
  }
  section#results div.results-header div#filter-tabs div.filter-tab.highlighted button.filter-select {
    font-weight: 600;
  }
  section#results div.results-header div#filter-tabs button.filter-new,
  section#results div.results-header div#filter-tabs button.filter-pinned,
  section#results div.results-header div#filter-tabs button.filter-suggestion {
    border: none;
    width: 40px;
    border-radius: 5px;
    background-color: #242424;
    margin-right: 5px;
    display: flex;
    align-items: center;
    padding: 0;
    overflow: hidden;
  }
  section#results div.results-header div#filter-tabs button.filter-new, section#results div.results-header div#filter-tabs button.filter-pinned {
    justify-content: center;
    font-size: 1.2em;
    padding-bottom: 2px;
  }
  section#results div.results-header div#filter-tabs button.filter-new:hover,
  section#results div.results-header div#filter-tabs button.filter-pinned:hover,
  section#results div.results-header div#filter-tabs button.filter-suggestion:hover {
    background-color: #313131;
    cursor: pointer;
    transition: all 0.1s ease-out;
  }
  section#results div.results-header div#filter-tabs button.filter-pinned:hover {
    color: #ccac00;
  }
  section#results div.results-header div#filter-tabs button.filter-pinned.highlighted {
    background-color: #363636;
    color: gold;
  }
  section#results div.results-header div#filter-tabs button.filter-suggestion {
    padding: 0;
  }
  section#results div.results-header div#filter-tabs button.filter-suggestion img {
    margin-left: 2px;
    margin-right: 4px;
    height: 90%;
  }
  section#results div.results-header div#filter-tabs button.filter-suggestion p {
    padding-right: 20px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
  section#results div.results-header div#filter-tabs button.filter-suggestion:hover {
    width: 200px;
  }
  section#results div#results-content {
    padding-top: 145px;
  }
  section#results div#results-content, section#results div#additional-results-wrapper, section#results footer {
    margin-left: 320px;
  }
  section#results div#additional-results-wrapper div.additional-results-text h3, section#results div#additional-results-wrapper div.additional-results-text p {
    padding: 0px 10px;
    color: #CCC;
  }
  section#results div#additional-results-wrapper div.additional-results-text h3 {
    margin-top: 40px;
    margin-bottom: 5px;
    font-size: 1.1em;
  }
  section#results div#additional-results-wrapper div.additional-results-text p {
    font-size: 0.8em;
  }
  section#results div#additional-results-wrapper div#additional-results-content {
    margin-top: 20px;
  }
}
section#results {
  position: fixed;
  top: 0;
  left: 0;
  overflow-y: scroll;
  scrollbar-width: thin;
  height: 100%;
  width: 100vw;
}
section#results div.results-header {
  position: fixed;
  top: 0;
  z-index: 100;
  background-color: #1f1f1f;
  width: 100%;
}
section#results div.results-header h2 {
  color: #CCC;
  font-size: 1em;
  font-weight: 700;
}
section#results div.results-header div#filter-build {
  height: 40px;
  position: absolute;
  top: 65px;
}
section#results div.results-header div#filter-build h3 {
  color: #CCC;
  font-size: 1em;
  font-weight: 700;
  margin-bottom: 3px;
}
section#results div.results-header div#filter-build div.filter-build-options {
  height: 100%;
  display: flex;
}
section#results div.results-header div#filter-build div.filter-build-options button.highlighted {
  background-color: #363636;
  font-weight: 400;
  color: #FFF;
}
section#results div.results-header div#filter-build div.filter-build-options button:hover {
  background-color: #313131;
  cursor: pointer;
}
section#results div.results-header div#filter-build div.filter-build-options button {
  height: 100%;
  color: #CCC;
  background-color: #242424;
  font-family: inherit;
  border: none;
  padding: 10px 13px 8px 8px;
  transition: all 0.3s ease-out;
  border-radius: 5px;
  margin-right: 5px;
  margin-bottom: 5px;
  display: flex;
}
section#results div.results-header div#filter-build div.filter-build-options button img {
  margin-right: 2px;
  height: 20px;
}
section#results div#main-content {
  min-height: calc(100% - 130px);
  margin-bottom: 50px;
}
section#results div#results-content {
  display: flex;
  flex-wrap: wrap;
  align-items: start;
}
section#results div#results-content div#no-results {
  text-align: center;
  margin: 0 auto;
  margin-top: 35vh;
}
section#results div#additional-results-wrapper h3.additional-results-content-header {
  margin-top: 10px;
}
section#results div#additional-results-wrapper div#additional-results-content {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

/*# sourceMappingURL=Results.css.map */
