@media screen and (max-width: 600px) {
  section#results {
    width: 100%;
    left: 0;
  }
  section#results div#no-results {
    padding: 0px 20px;
  }
  section#results header#results-header {
    display: none;
  }
  section#results div#main-content {
    margin: 20px 0 50px 0;
    display: flex;
    flex-wrap: wrap;
    align-content: start;
    align-items: start;
    min-height: calc(100% - 170px);
  }
  section#results div#main-content div.additional-results-text {
    margin: 0 10px;
  }
  section#results div#main-content div.additional-results-text h3, section#results div#main-content div.additional-results-text p {
    padding: 0 5px;
  }
  section#results div#main-content div.additional-results-text h3 {
    font-size: 0.9em;
  }
  section#results div#main-content div.additional-results-text p {
    font-size: 0.7em;
    padding-top: 5px;
  }
}
@media screen and (min-width: 601px) {
  section#results {
    left: 300px;
    min-width: calc(100vw - 300px);
  }
  section#results header#results-header {
    left: 300px;
    height: 145px;
    padding-left: 20px;
  }
  section#results header#results-header h2 {
    margin-top: 5px;
  }
  section#results header#results-header div#filter-tabs {
    display: flex;
    position: absolute;
    top: 20px;
    height: 40px;
  }
  section#results header#results-header div#filter-tabs div.filter-tab {
    width: 200px;
    display: flex;
    border-radius: 5px;
    overflow: hidden;
    margin-right: 5px;
    background-color: #242424;
  }
  section#results header#results-header div#filter-tabs div.filter-tab button.filter-select {
    background: none;
    border: none;
    width: 0;
    height: 40px;
    cursor: pointer;
    text-align: left;
    display: flex;
    align-items: center;
    flex-grow: 1;
  }
  section#results header#results-header div#filter-tabs div.filter-tab button.filter-select img {
    height: 90%;
    margin-right: 4px;
    margin-left: 2px;
  }
  section#results header#results-header div#filter-tabs div.filter-tab button.filter-select p {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
  section#results header#results-header div#filter-tabs div.filter-tab button.filter-close {
    background: none;
    border: none;
    width: 40px;
    height: 40px;
    cursor: pointer;
    flex-shrink: 0;
  }
  section#results header#results-header div#filter-tabs div.filter-tab button.filter-close:hover {
    background-color: #3e3e3e;
  }
  section#results header#results-header div#filter-tabs div.filter-tab:hover {
    background-color: #313131;
  }
  section#results header#results-header div#filter-tabs div.filter-tab.highlighted {
    background-color: #363636;
  }
  section#results header#results-header div#filter-tabs div.filter-tab.highlighted button.filter-select {
    font-weight: 600;
  }
  section#results header#results-header div#filter-tabs button.filter-new,
  section#results header#results-header div#filter-tabs button.filter-pinned,
  section#results header#results-header div#filter-tabs button.filter-suggestion {
    color: #FFF;
    border: none;
    width: 40px;
    border-radius: 5px;
    background-color: #242424;
    margin-right: 5px;
    display: flex;
    align-items: center;
    padding: 0;
    overflow: hidden;
  }
  section#results header#results-header div#filter-tabs button.filter-new, section#results header#results-header div#filter-tabs button.filter-pinned {
    justify-content: center;
    font-size: 1.2em;
    padding-bottom: 2px;
  }
  section#results header#results-header div#filter-tabs button.filter-new:hover,
  section#results header#results-header div#filter-tabs button.filter-pinned:hover,
  section#results header#results-header div#filter-tabs button.filter-suggestion:hover {
    background-color: #313131;
    cursor: pointer;
    transition: all 0.1s ease-out;
  }
  section#results header#results-header div#filter-tabs button.filter-pinned:hover {
    color: #ccac00;
  }
  section#results header#results-header div#filter-tabs button.filter-pinned.highlighted {
    background-color: #363636;
    color: gold;
  }
  section#results header#results-header div#filter-tabs button.filter-suggestion {
    padding: 0;
  }
  section#results header#results-header div#filter-tabs button.filter-suggestion img {
    margin-left: 2px;
    margin-right: 4px;
    height: 90%;
  }
  section#results header#results-header div#filter-tabs button.filter-suggestion p {
    padding-right: 20px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
  section#results header#results-header div#filter-tabs button.filter-suggestion:hover {
    width: 200px;
  }
  section#results div#main-content {
    margin: 165px 20px 50px 20px;
    display: flex;
    flex-wrap: wrap;
    align-content: start;
    align-items: start;
    min-height: calc(100% - 315px);
  }
  section#results div#main-content div.additional-results-text h3, section#results div#main-content div.additional-results-text p {
    padding: 0px 10px;
  }
  section#results div#main-content div.additional-results-text h3 {
    margin-bottom: 5px;
    font-size: 1.1em;
  }
  section#results div#main-content div.additional-results-text p {
    font-size: 0.8em;
  }
}
section#results {
  position: fixed;
  top: 0;
  overflow-y: scroll;
  scrollbar-width: thin;
  height: 100%;
}
section#results header#results-header {
  position: fixed;
  top: 0;
  z-index: 100;
  background-color: #1f1f1f;
  min-width: calc(100vw - 300px - 8px);
}
section#results header#results-header h2 {
  color: #CCC;
  font-size: 1em;
  font-weight: 700;
}
section#results header#results-header div#filter-build {
  height: 40px;
  position: relative;
  top: 70px;
}
section#results header#results-header div#filter-build h4 {
  color: #CCC;
  font-size: 1em;
  font-weight: 700;
  margin-bottom: 3px;
  margin-left: 4px;
}
section#results header#results-header div#filter-build div.filter-build-options {
  height: 100%;
  display: flex;
}
section#results header#results-header div#filter-build div.filter-build-options button.highlighted {
  background-color: #363636;
  font-weight: 400;
  color: #FFF;
}
section#results header#results-header div#filter-build div.filter-build-options button:hover {
  background-color: #313131;
  cursor: pointer;
}
section#results header#results-header div#filter-build div.filter-build-options button {
  height: 100%;
  color: #CCC;
  background-color: #242424;
  font-family: inherit;
  border: none;
  padding: 10px 13px 8px 8px;
  transition: all 0.3s ease-out;
  border-radius: 5px;
  margin-right: 5px;
  margin-bottom: 5px;
  display: flex;
  white-space: nowrap;
}
section#results header#results-header div#filter-build div.filter-build-options button img {
  margin-right: 2px;
  height: 20px;
}
section#results header#results-header div#select-sorting-option {
  position: absolute;
  top: 70px;
  height: 40px;
  width: 240px;
  left: 850px;
}
section#results header#results-header div#select-sorting-option h4 {
  color: #CCC;
  font-size: 1em;
  font-weight: 700;
  margin-bottom: 3px;
  margin-left: 4px;
}
section#results header#results-header div#select-sorting-option div.sorting-buttons {
  display: flex;
}
section#results header#results-header div#select-sorting-option div.sorting-buttons button.option {
  width: 200px;
  margin-right: 5px;
}
section#results header#results-header div#select-sorting-option div.sorting-buttons button.order {
  width: 40px;
}
section#results header#results-header div#select-sorting-option div.sorting-buttons button {
  height: 100%;
  color: #CCC;
  background-color: #242424;
  font-family: inherit;
  border: none;
  padding: 10px 13px 8px 8px;
  transition: all 0.3s ease-out;
  border-radius: 5px;
  margin-bottom: 1px;
  display: flex;
  cursor: pointer;
}
section#results header#results-header div#select-sorting-option div.sorting-buttons button img.sort-image,
section#results header#results-header div#select-sorting-option div.sorting-buttons button img.ascending-image,
section#results header#results-header div#select-sorting-option div.sorting-buttons button img.descending-image {
  height: 20px;
  margin-right: 2px;
}
section#results header#results-header div#select-sorting-option div.sorting-buttons button img.ascending-image {
  transform: rotate(180deg);
}
section#results header#results-header div#select-sorting-option div.sorting-buttons button p {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
section#results header#results-header div#select-sorting-option div.sorting-buttons button:hover {
  background-color: #363636;
  color: #FFF;
}
section#results header#results-header div#select-sorting-option ul {
  box-shadow: 5px 13px 20px #151515;
}
section#results header#results-header div#select-sorting-option ul li {
  cursor: pointer;
  height: unset;
  width: 100%;
  color: #CCC;
  background-color: #242424;
  border-bottom: 1px solid #202020;
  font-family: inherit;
  padding: 8px 13px;
  transition: all 0.3s ease-out;
  border-radius: 5px;
  display: flex;
  font-size: 0.9em;
}
section#results header#results-header div#select-sorting-option ul li:hover {
  background-color: #363636;
  color: #FFF;
}
section#results div#main-content div#no-results {
  text-align: center;
  width: 500px;
  margin: 120px auto;
}
section#results div#main-content div#no-results img.no-result-img {
  height: 200px;
}
section#results div#main-content div#no-results img.no-result-img.sad {
  position: relative;
  left: -20px;
}
section#results div#main-content div#no-results button {
  width: 60%;
}
section#results div#main-content div.additional-results-text {
  margin-top: 50px;
  border-top: 1px solid #333;
  margin-bottom: 20px;
  width: 100%;
}
section#results div#main-content div.additional-results-text h3, section#results div#main-content div.additional-results-text p {
  color: #CCC;
}
section#results div#main-content div.additional-results-text h3 {
  margin-top: 20px;
}

/*# sourceMappingURL=Results.css.map */
