#root {
  margin: 0 auto;
  padding: 2rem;
  text-align: left;
  scrollbar-width: thin;
}
p, h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
}
ul, li {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

section#filter {
  box-sizing: border-box;
  position: fixed;
  top: 0;
  left: 0;
  overflow-y: scroll;
  scrollbar-width: thin;
  width: 20vw;
  height: 100%;
  padding: 20px;
}
.filter-card {
  margin-right: 30px;
}
.filter-card .artifact-type {
  margin-top: 10px;
}
.filter-card .artifact-type:first-of-type {
  margin-top: 0;
}


section#results .highlighted {
  color: lightgreen;
}
section#results {
  box-sizing: border-box;
  position: fixed;
  top: 0;
  left: 20vw;
  padding: 20px;
}
section#results h3 {
  margin-left: 10px;
}
div.character-card {
  width: 20vw;
  margin-right: 20px;
  padding: 10px;
  float: left;
  background-color: #222222;
}
div.character-card .build-name {
  margin: 0;
  color: #BBB;
}

div.character-card p {
  margin-top: 6px;
  font-weight: 700;
}
div.character-card li {
  color: #BBB;
}
div.character-card div.artifact-type {
  float: left;
  width: 33%;
  text-align: center;
}